body{
    background-color: #000000;
    margin: 1.5%;
}
#topo{
    display: flex;
    margin-bottom: 2%;
}
#TopButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
img{
    height: 15vh;
    width: 30vh;
    border-bottom-color: darkgray;
}
.dados-aluno{
    margin-left: 0.5%;
    margin-top: 0.5%;
    color: #ffffffd8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px;
}
.warning{
    color: #ffffffd8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: static;
    margin-top: 5%;
    text-align: center;
}
.initial-project{
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
#MyProject{
    margin-top: 0.5%;
    border-radius: 5px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
#tittle-project{
    margin-top: 2%;
    color: #ffffffd8;
}
.maps{
    margin: 1%;
}
.card-body{
    background-color:#000000;
}
.project{
    color: #ffffffd8;
    background-color: #000000;
}
h5{
    background-color: #000000;
}
.card{
    background-color: #000000;
}
.card-header{
    font-size: 35px;
    color: #ffffffd8;
}
.project-info{
    font-size: 20px;
    color: #ffffffd8
}
.project-title{
    font-size: 23px;
    color: #ffea00d8;
    font-weight: bold;
}
.button-project{
    margin: 5%;
    font-size: 15px;
    font-weight: bold;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}